{% extends 'design/base.html' %}
{% load crispy_forms_tags %}

{% block sidebar %}
<div class="list-group">
	<a href="{% url 'profile' %}" class="list-group-item list-group-item-action" aria-current="true">Profile</a>
	{% if user.is_superuser %}
	<a href="{% url 'design_request_list' %}" class="list-group-item list-group-item-action">All applications</a>
	<a href="{% url 'category_list' %}" class="list-group-item list-group-item-action">All category</a>
	<a href="{% url 'category_create' %}" class="list-group-item list-group-item-action">Create category</a>
	{% else %}
	<a href="{% url 'design_request_list' %}?sort=date&filter=completed" class="list-group-item list-group-item-action">Home</a>
	<a href="{% url 'design_request_list' %}" class="list-group-item list-group-item-action">All applications</a>
	<a href="{% url 'design_request_create' %}" class="list-group-item list-group-item-action">Create applications</a>
	{% endif %}
</div>
{% endblock %}

{% block content %}
<div class="content-section">
	<div class="media">

		<div class="media-body">
			<h2 class="account-heading"><p class="username_class"> Username:</p>{{ user.username }}</h2>
			<p class="text-secondary">{{ user.email }}</p>
		</div>
		<img class="rounded-circle account-img" src="{{ user.profile.image.url }}" />
	</div>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Information</legend>
			{{ user_form|crispy }}
			{{ profile_form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline_info" type="submit">Update</button>
		</div>
	</form>
</div>
{% endblock %}